// Import

@import "./base/typography", "./base/reset";
@import "./utils/variables", "./utils/mixins";
@import "./components/button", "./components/tag_new.scss";

// Header

.mainTitle {    
    height: 63px;
    padding: 20px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Localisation

#localization {
    text-align: center;
    background-color: #EAEAEA;
    padding: 15px 0;
    font-weight: 700;
    box-shadow: inset 0px 2px 5px 0px lightgrey;
    
     > i {
        margin-right: 15px;
    }
}

// Navigation

.navigation {
    height: 270px;
    background-color: $background-color;
    text-align: center;
    padding: 30px 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

// Fonctionnement

.process {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 30px 5%;
    margin-bottom: 15%;

    &__title {
        margin: 9% 0;
    }

    &__list {
        height: 250px;
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 15px;
        align-self: center;

        > li {
            height: 66px;
            display: flex;
            align-items: center;
            border-radius: 25px;
            @include box-shadow(0, 2px, 5px, lightgrey);
            background-color: $background-color;
            counter-increment: li;
            font-weight: bold;

            &::before {
                content: counter(li); 
                color: white;
                border-radius: 100%;
                background-color: $primary-color;
                width: 20px;
                margin-left: -12px;
                margin-right: 15px;
                text-align: center;
                font-size: 12px;
                font-weight: normal;
                padding: 4px 1px;
            }

            &:hover {
                background-color: #F5EDFF;
            }

            > i {
                margin-right: 5%;
                color: grey;
            }
        }
    }
}

// Section restaurants

#restaurants {
    height: 1200px;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    padding: 30px 5%;
}

.container{
    height: 90%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

        & a{
        height: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
}

.restaurantTab{
    position: relative;
    height: 100%;
    width: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    @include box-shadow(0, 2px, 5px, lightgrey);
    &__img{
        height: 70%;
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    &__text{
        height: 30%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    &__name{
        margin: 5px 0;
    }
    &__localization{
        margin: 5px 0;
    }
    &__fav{
        position: relative;
        font-size: 25px;
    }
}

.fa-heart {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 500ms;
    overflow: hidden;
}


.far.fa-heart {
    position: absolute;
    left: 0;
    top: 0;
    color: inherit;
}

.fa.fa-heart {
    background: linear-gradient(to top right, #ED74DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: scale(0);
}