// Import

@import "./base/typography", "./base/reset";
@import "./utils/variables", "./utils/mixins", "./utils/keyframes" ; 
@import "./components/button", "./components/tag_new.scss", "./components/fav.scss", "./components/dishes__check", "./components/loader";
@import "./layout/footer", "./layout/header";

// Main

main{
    display: flex;
    flex-direction: column;

    &> img{
        height: 225px;
    }
}

// Image en arrière plan et début du menu
.menu{
    margin-top: -40px;
    padding: 30px 5%;
    background-color: $background-color;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__name{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > h2{
            font-family: 'Shrikhand', sans-serif;
            font-size: 28px;
        }
    }       
}

// Ajout du soulignage des titres de section 
.starters__title, .main_course__title, .desserts__title{
    margin-top: 10px;

    &::after{
        @include underline;
    }
}

// Etiquettes de chaque menu
.dishes{
    width: 100%;
    height: 65px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include box-shadow;
    animation: display-dishes 1200ms ease-out forwards;

    &__card{
        width: 100%;
        padding: 8px 10px;
        display: flex;
        justify-content: space-between;
        
        &__inform{
            
            &__name{

                &--name{
                    font-weight: bold;
                    font-size: 16px;
                    padding-bottom: 3px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &--over{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            &__price{
                display: flex;
                align-items: flex-end;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }

    // Apparition du check lorsque la souris passe dessus
    &:hover :nth-child(2){
        margin-right: 0;
    }

    &:hover .fa-check-circle{
        transform: rotate(-360deg);
    }
}

.dishes:hover .dishes__card__inform > :nth-child(1){
    width: 220px;
}

.dishes .dishes__card__inform > :nth-child(1){
    width: 280px;
    transition-property: width;
    transition-duration: 500ms;
}


// Bouton commander
.menu_button{
    align-self: center;
    text-align: center;
    width: 40%;
    margin-bottom: 40px;
}