@import "../utils/variables", "../utils/mixins";

@media screen and (min-width: 768px){

    h2{
        text-align: center;
    }

    #restaurants{
        height: 700px;
    }

    .process{
        background-color: white;
        margin: 0;
        height: 400px;

        &__title{
        margin: 15px;
        }

        &__list{
            gap: 30px;

            & li{
                justify-content: center;
            }
        }
    }

    .restaurantTab{
        height: 245px;
        width: 330px;
    }


    .container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-around;
    }

    footer *{
        align-items: center;
        text-align: center;
    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__name{
            justify-content: center;
            flex-direction: column;
        }
    }

    .restaurantTab__fav{
        font-size: 30px;
        padding-top: 20px;
    }

    .starters__title, .main_course__title, .desserts__title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   

    .dishes{
        width: 415px;
        &__card__inform__name--name{
            text-overflow: inherit;
            overflow: visible;
        }
        &__card__inform__name--over{
            text-overflow: inherit;
            overflow: visible;
        }
    }

    footer{
        text-align: center;
    }
}
