// Modification de l'icone Check
.fa-check-circle{
    color: white;
    font-size: 20px;
    transition: transform 0.5s ease-out;
}

// Mise en place du background et de la position du Check
.dishes__check{
    height: 65px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tertiary-color;
    margin-right: -70px;
    border-radius: 0 15px 15px 0;
    transition: margin-right 0.5s ease-in-out
}
