.restaurantTab__fav{
    position: relative;

    &:hover .far.fa-heart {
        transform: scale(0);
    }

    &:hover .fas.fa-heart{
        transform: scale(1);
    }

    > .fa-heart{
        font-size: 25px;
        width: 30px;
        display: flex;
        justify-content: center;
        transition-duration: 500ms;
    }

    > .far.fa-heart{
        position: absolute;  
    }

    > .fas.fa-heart{
        @include gradient-color;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transform: scale(0);
      }
}