// Reset des paramètres navigateur
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    scroll-behavior: smooth;
    animation: html 2.8s forwards;
}

img{
    max-width: 100%;
    padding: 0;
    max-height: 100%;
    object-fit: cover;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

ol{
    list-style: none; 
    counter-reset: li;
}
