// @font-face {
//     font-family: '';
//     src: 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap' format(Example: 'truetype' or 'opentype' depending on the file extension of your font);
// }

h1{
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}

*{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 24px;
}