@keyframes display-underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes display-dishes {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}
h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  font-weight: normal;
}

* {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
  padding: 0;
  max-height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

ol {
  list-style: none;
  counter-reset: li;
}

.button {
  width: 60%;
  padding: 15px 0;
  border-radius: 30px;
  color: white;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  box-shadow: 1px 1px 5px grey;
}
.button:hover {
  filter: brightness(110%);
  box-shadow: 5px 5px 10px grey;
}

.restaurantTab__fav {
  position: relative;
}
.restaurantTab__fav:hover .far.fa-heart {
  transform: scale(0);
}
.restaurantTab__fav:hover .fas.fa-heart {
  transform: scale(1);
}
.restaurantTab__fav > .fa-heart {
  font-size: 25px;
  width: 30px;
  display: flex;
  justify-content: center;
  transition-duration: 500ms;
}
.restaurantTab__fav > .far.fa-heart {
  position: absolute;
}
.restaurantTab__fav > .fas.fa-heart {
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: scale(0);
}

.tag_new {
  position: absolute;
  right: 25px;
  height: 30px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #078C6B;
  font-weight: bold;
  font-size: 14px;
  margin: 20px 0;
}

.fa-check-circle {
  color: white;
  font-size: 20px;
  transition: transform 0.5s ease-out;
}

.dishes__check {
  height: 65px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  margin-right: -70px;
  border-radius: 0 15px 15px 0;
  transition: margin-right 0.5s ease-in-out;
}

.menuTitle {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuTitle a {
  position: absolute;
  left: 20px;
}
.menuTitle a i {
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
}
main > img {
  height: 225px;
}

.menu {
  margin-top: -40px;
  padding: 30px 5%;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starters__title, .main_course__title, .desserts__title {
  margin-top: 10px;
}
.starters__title::after, .main_course__title::after, .desserts__title::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  animation: display-underline 2s;
  animation-fill-mode: both;
}

.dishes {
  width: 100%;
  height: 65px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px grey;
  animation: display-dishes 1000ms ease-out forwards;
}
.dishes__card {
  width: 100%;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
}
.dishes__card__inform__name--name {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 3px;
}
.dishes__card__inform__price {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 16px;
}
.dishes:hover :nth-child(2) {
  margin-right: 0;
}
.dishes:hover .fa-check-circle {
  transform: rotate(-360deg);
}

.menu_button {
  align-self: center;
  text-align: center;
  width: 40%;
  margin-bottom: 40px;
}

footer {
  height: 200px;
  background-color: #353535;
  padding: 30px 5%;
  gap: 10px;
}
footer * {
  color: white;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 5%;
}
footer ul {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer ul > li i {
  width: 25px;
}

/*# sourceMappingURL=menu.css.map */
